body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}


header {
    background-color: #333;
    color: #fff;
    padding: 10px;
}


nav {
    margin-top: 10px;
}


nav a {
    text-decoration: none;
    color: #fff;
    background-color: #0073e6;
    padding: 20px 40px;
    margin: 5px;
    border: 0px solid #333;
    border-radius: 10px;
}


.highlighted-movie {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    margin: 20px auto; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    font-family: "Helvetica", sans-serif;
    max-width: 500px;
}


.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.movie {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 200px;
}


.movie h3 {
    font-size: 18px;
}


.movie img {
    max-width: 100%;
    border-radius: 5px;
}


.movie p {
    color: #666;
}


.movie button {
    background-color: #0073e6;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
.movie img {
    max-width: 100%;
    border-radius: 5px;
}
.watch-button {
    background-color: #0073e6; /* Azul */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}



